@model GD2.Models.ViewModel.ViewModelLogin;
@using (Html.BeginForm("Login", "Account", HttpMethod.Post))
{
    <a> @ViewBag.ErrorMessage</a>
    <div>
        @Html.LabelFor(m => m.username);
        @Html.EditorFor(m => m.username)
    </div>

    <div>
        @Html.LabelFor(m => m.password);
        @Html.EditorFor(m => m.password)
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
}

